.button {
  padding: 5px 15px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  background: #4B51EF;
  border: none;
  border-radius: 5px;
  text-transform: lowercase;
  cursor: pointer;

  &:hover {
    background: blue;
  }
}